@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 4s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@layer utilities {
  .mobile-menu-top {
    clip-path: polygon(0 0, 0 83%, 100% 0);
  }
  .mobile-menu-bot {
    clip-path: polygon(100% 100%, 0 100%, 100% 20%);
  }
  .tiptap {
    min-height: 250px;
    outline: none;
  }

  .tiptap ul {
    list-style: circle;
    padding: 0 20px;
  }
}
